aiu==0.1.1a4
alabaster==0.7.12
appnope==0.1.0
archivenow==2019.7.27.2.35.46
astroid==2.3.3
attrs==19.3.0
Automat==0.8.0
Babel==2.8.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.8.1
blis==0.4.1
boilerpy3==1.0.2
boto==2.49.0
boto3==1.10.50
botocore==1.13.50
Brotli==1.0.4
bs4==0.0.1
cairocffi==1.1.0
CairoSVG==2.3.0
catalogue==1.0.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cssselect2==0.2.2
cycler==0.10.0
cymem==2.0.3
decorator==4.4.1
defusedxml==0.6.0
dicttoxml==1.7.4
Distance==0.1.3
distro==1.4.0
docutils==0.15.2
fasttext==0.9.1
feedfinder2==0.0.4
feedparser==5.2.1
Flask==1.0.2
gensim==3.4.0
google-compute-engine==2.8.13
guess-language-spirit==0.5.3
html5lib==1.0.1
htmlmin==0.1.12
hyperlink==19.0.0
idna==2.8
imageio==2.5.0
imagesize==1.2.0
importlib-metadata==1.5.0
incremental==17.5.0
ipython==7.11.1
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.2
jieba3k==0.35.1
Jinja2==2.10.3
jmespath==0.9.4
jsonlines==1.2.0
jusText==2.2.0
kiwisolver==1.1.0
langdetect==1.0.7
langid==1.1.6
lazy-object-proxy==1.4.3
lxml==4.2.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
murmurhash==1.0.2
networkx==2.4
newspaper3k==0.2.8
nltk==3.4.5
numpy==1.16.0
otmt==1.0.1a0
packaging==20.1
paramiko==2.4.2
parsel==1.5.2
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.2.0
plac==1.1.3
preshed==3.0.2
prompt-toolkit==3.0.2
Protego==0.1.16
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybind11==2.4.3
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.5.2
PyHamcrest==1.9.0
pylint==2.4.4
pymongo==3.10.1
PyNaCl==1.3.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
python-datauri==0.2.8
python-dateutil==2.8.1
python-magic==0.4.15
pytz==2019.3
PyYAML==5.3
queuelib==1.5.0
rank-bm25==0.2
readability-lxml==0.7
redis==3.0.1
redis-namespace==3.0.1.1
requests==2.22.0
requests-cache==0.4.13
requests-file==1.4.3
requests-futures==0.9.9
rope==0.14.0
s3transfer==0.2.1
scikit-learn==0.20.0
scipy==1.1.0
Scrapy==1.8.0
service-identity==18.1.0
simhash==1.9.0
six==1.13.0
sklearn==0.0
smart-open==1.9.0
snowballstemmer==2.0.0
soupsieve==1.9.5
spacy==2.2.3
Sphinx==1.8.4
sphinxcontrib-websupport==1.2.0
srsly==1.0.1
sumgram==0.0.15
summa==1.2.0
thinc==7.3.1
tinycss2==1.0.2
tinysegmenter==0.3
tldextract==2.2.0
tqdm==4.43.0
traitlets==4.3.3
Twisted==19.10.0
typed-ast==1.4.0
urllib3==1.25.7
w3lib==1.21.0
warcio==1.7.1
wasabi==0.6.0
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.0
wordcloud==1.6.0
wrapt==1.11.2
zipp==3.0.0
zope.interface==4.7.1
